<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_casino.css')}}">
    <title>КАЗИНО</title>
</head>
<body>
    <div class="website">
        <img src="{{url_for('static', filename='images/backgrounds_casino.jpg')}}" class="background"/>
        <h1 class="go_broo">КРУТИ БАРАБАН</h1>
        <audio controls loop class="audio_sidr" id="audio_background_js">
            <source src="{{url_for('static', filename='audio/sidorovich.mp3')}}" type="audio/mpeg">
        </audio>
        <script>
          var audio = document.getElementById("audio_background_js");
          audio.volume = 0.6;
        </script>
        <button onclick="document.location='index.html'" class="glv_str_btn" name="glv_str_btn">Главная страница</button>
    </div>
</body>
</html>