.website {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background {
    background-image:url('images/backgrounds_reg.jpg');
    background-size:100%;
    background-repeat: repeat-y;
    position: fixed;
    height:100%;
    width:100%;
}

form {
    display: block;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    border:5px solid black;
    border-radius: 10px;
    width: 450px;
    padding:50px 0;
    background: white;
    top: 25%;
    left: 35%;
}

.glv_str_btn {
    position: absolute;
    border-radius: 10px;
    border-color: black;
    color: black;
    background-color: white;
}